button.dialog-service-background {
  background: rgba($color: #0000, $alpha: 0.5);
  border: unset;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.dialog {
  animation: dialog-load 0.3s;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
  z-index: 15;
}

.dialog-close {
  transform: translate(-50%, -50%) scale(0);
}

@keyframes dialog-load {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
