/**
  These overrides relate to the following ticket - https://tepeo.atlassian.net/jira/software/projects/ZEB/boards/7?assignee=61767c17bcb574006864fe63&selectedIssue=ZEB-2327
  In the matter of time and the fact that we will be removing material in the near future the use of !important is okay here, the
  alternative is way more time consuming and fiddly which feels like a inefficient use of time when it's going to be removed
  in the near future.

  I'd never normal advocate this approach and using the !important selectors!
*/

.mat-mdc-checkbox .mdc-form-field {
  align-items: center !important;
  display: flex !important;
}

.mat-mdc-checkbox .mdc-checkbox {
  padding: 8px !important;
}

.mat-mdc-checkbox label {
  font-size: 12px !important;
  line-height: 12px !important;
  padding-top: 6px;
}
