@mixin flex-center($dir: row) {
  align-items: center;
  display: flex;
  flex-direction: $dir;
  justify-content: center;
}

@mixin pos-abs() {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin breakpoint($width) {
  @media (min-width:#{$width}) {
    @content;
  }
}

@mixin fontSizeScale() {
  font-size: 1.4rem;

  @include breakpoint(382px) {
    font-size: 1.6rem;
  }

  @include breakpoint(425px) {
    font-size: 1.7rem;
  }

  @include breakpoint(600px) {
    font-size: 3rem;
  }

  @include breakpoint(800px) {
    font-size: 2rem;
  }
}
