::-webkit-scrollbar {
  height: 10px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: currentColor;
  border-radius: 8px;
}

a,
button {
  background: unset;
  border: unset;
  color: currentColor;
  cursor: pointer;
  text-align: unset;
  text-decoration: unset;
}
